{#--- _components/wishlist ---#}

{# The value of this input field will be posted to the action #}
<input type="hidden" name="elementId" value="{{ entryId }}"> {% set item = craft.wishlist.item(entryId) %}

{% if item.inList %}
	{# Posts to the `remove` action on click #}
	<button id="wish-list-button" sprig s-method="post" class="btn-main" s-action="wishlist/items/remove">
		Remove From Wishlist
	</button>
		<div id="alert" hx-swap-oob="true" hx-swap="innerHTML" class="hidden">
			<i class="text-xs text-red-700 fas fa-circle"></i>
		</div>
{% else %}
	{# Posts to the `add` action on click #}
	<button id="wish-list-button" sprig s-method="post" class="btn-main" s-action="wishlist/items/add">
		Add to Wishlist
	</button>
{% endif %}
