{% set list = craft.wishlist.lists().default(true).one() %}
<span class="px-1 ml-1 text-xs font-bold rounded-full bg-rug-light-blue text-rug-dark-blue font-bioRhyme" sprig s-trigger="every 1s">{% if list is not empty %}{{ list.items.all()|length }}{% else %}0{% endif %}</span>