<footer class="flex flex-row justify-between w-full p-10 bg-rug-black">
	<nav>
		{% include "_content/main-nav-list" %}
	</nav>
    {% include "_snippets/logo" %}
    {% include "_snippets/contact-info-footer" %}
</footer>
