<header class="flex flex-row justify-between w-full p-10 bg-rug-dark-blue">
	{% include "_snippets/logo" %}
	<nav class="">
		{% include "_content/main-nav-list" %}
	</nav>
	{% include "_content/social-media-list" %}
</header>
