<header id="main-header" class="flex flex-row items-end justify-between w-full p-10 bg-rug-dark-blue">
{% set homeEntry = craft.entries().section('home').one() %}
{% set logo = homeEntry.logo.one().optimizedImages %}
{% set logoAltText = homeEntry.logo.one().title %}
	{% include "_snippets/logo" %}
	<nav id="main-site-navigation" class="text-rug-white">
		{% set navLinks = homeEntry.navigationItems.all() %}
		{% set listStyles = "flex flex-col md:flex-row flex-wrap items-center justify-center md:space-x-8 space-y-4 md:space-y-0 mb-4 md:mb-0" %}
		{% include "_content/main-nav-list" %}
	</nav>
	{% include "_snippets/wish-list-icon" %}
	{% set socialMediaList = homeEntry.socialMediaAccounts.all() %}
	{% include "_content/social-media-list" %}
</header>
<div id="wish-list" class="flex flex-row flex-wrap wishListContent section-wrapper justify-evenly" x-show="show">
</div>
