<header id="main-header" class="flex flex-row items-end justify-between w-full p-10 bg-rug-dark-blue">
	{% set homeEntry = craft.entries().section('home').one() %}
	{% set logo = homeEntry.logo.one().optimizedImages %}
	{% set logoAltText = homeEntry.logo.one().title %}
	{% include "_snippets/logo" %}
	<nav id="main-site-navigation" class="text-rug-white">
		{% set navLinks = homeEntry.navigationItems.all() %}
		{% set listStyles = "flex flex-col md:flex-row flex-wrap items-center justify-center md:space-x-8 space-y-4 md:space-y-0 mb-4 md:mb-0" %}
		{% include "_content/main-nav-list" %}
	</nav>
	{% include "_snippets/wish-list-icon" %}
	{% set socialMediaList = homeEntry.socialMediaAccounts.all() %}
	{% include "_content/social-media-list" %}
</header>
<div class="fixed top-0 left-0 z-50 flex flex-row items-end justify-end w-screen h-screen" style="background-color: rgba(33, 42, 48, 0.33);" x-show="show" x-bind:class="{ 'overflow-hidden': show }" x-transition:enter="transition ease-out duration-300"
    x-transition:enter-start="opacity-0 transform"
    x-transition:enter-end="opacity-100 transform"
    x-transition:leave="transition ease-in duration-300"
    x-transition:leave-start="opacity-100 transform"
    x-transition:leave-end="opacity-0 transform">
	<div id="wish-list" class="absolute right-0 z-50 flex flex-col w-full max-w-screen-md min-h-screen p-8 shadow-2xl wishListContent bg-rug-light-blue" x-show="show" @click.away="show = false" x-bind:class="{ 'overflow-hidden': show }" 
x-transition:enter="transition ease-out duration-300"
    x-transition:enter-start="opacity-0 transform -translate-y-full"
    x-transition:enter-end="opacity-100 transform"
    x-transition:leave="transition ease-in duration-300"
    x-transition:leave-start="opacity-100 transform"
    x-transition:leave-end="opacity-0 transform -translate-y-full"></div>
</div>
