<ul class="{{ listStyles }}">
	<li class="md:pb-2 lg:pb-0">
		<a href="{{siteUrl}}#featured-collections" class="hover:text-rug-light-blue">Collections</a>
	</li>
	{% for link in navLinks %}
		<li class="md:pb-2 lg:pb-0">
			{% include "_snippets/nav-item" %}
		</li>
	{% endfor %}
	<li class="md:pb-2 lg:pb-0">
		<a href="{{siteUrl}}#contact-us-section" class="hover:text-rug-light-blue">Contact Us</a>
	</li>
	<li class="md:pb-2 lg:pb-0 lg:mr-10 xl:pl-20">
		{% include "_snippets/wish-list-icon" %}
	</li>
</ul>
