<ul class="{{ listStyles }}">
	<li class="pb-2">
		<a href="{{siteUrl}}#featured-collections" class="hover:text-rug-light-blue">Collections</a>
	</li>
	{% for link in navLinks %}
		<li class="pb-2">
			{% include "_snippets/nav-item" %}
		</li>
	{% endfor %}
	<li class="pb-2">
		<a href="{{siteUrl}}#contact-us-section" class="hover:text-rug-light-blue">Contact Us</a>
	</li>
	<li class="pb-2 pl-2">
		{% include "_snippets/wish-list-icon" %}
	</li>
</ul>
