<ul class="{{ listStyles }}">
	<li>
	<a href="{{siteUrl}}#featured-collections" class="hover:text-rug-light-blue">Collections</a>
	</li>
	{% for link in navLinks %}
		<li>
			{% include "_snippets/nav-item" %}
		</li>
	{% endfor %}
	<li>
	<a href="{{siteUrl}}#contact-us" class="hover:text-rug-light-blue">Contact Us</a>
	</li>
</ul>
