<article id="" class="mix">
	<a href="{{ entry.getUrl() }}">
		<picture>
			<img src="{{ thumbnail.src() }}" data-srcset="{{ thumbnail.srcset() }}" alt="{{ name }}" class="object-cover w-56 h-56">
		</picture>
	</a>
</article>
