<article id="" class="">
{% set list = craft.wishlist.lists().default(true).one() %}
<h2>{{ entry.productTitle }}</h2>
	<picture>
		<img src="" alt="">
	</picture>
     <form method="POST">
        <input type="hidden" name="action" value="wishlist/items/toggle">
        {{ csrfInput() }}

        <input type="hidden" name="elementId" value="{{ entry.id }}">

        <input type="submit" value="{% if entry.id in list  %}Remove From{% else %}Add To{% endif %} List">
    </form>
</article>