<article id="" class="">
<h2>{{ entry.productTitle }}</h2>
	<picture>
		<img src="" alt="">
	</picture>
     <form method="POST">
        <input type="hidden" name="action" value="wishlist/items/toggle">
        {{ csrfInput() }}



        <input type="submit" value="Toggle in List">
    </form>
</article>
