<section class="flex flex-col items-center w-full">
	<form method="post" action="" accept-charset="UTF-8" class="flex flex-col w-full">
		{{ csrfInput() }}

		<input type="hidden" name="action" value="wishlist/lists/share-by-email">
		{% if list|length %}
		<input type="text" class="hidden" name="listId" value="{{ list.id }}">
		{% endif %}
		<input id="contactFormHoneypot" name="contactFormHoneypot" type="text">
		{{ redirectInput('#wishlistForm') }}
		{% if craft.app.session.hasFlash('notice') %}{% endif %}
		<div class="flex flex-row items-center mb-4">
			<p class="flex items-center justify-center w-32 h-12 text-sm uppercase bg-rug-light-blue text-rug-dark-blue">
				<label for="from-first-name">Your First Name</label>
			</p>
			<input id="from-first-name" type="text" name="sender[firstName]" value="" class="flex-grow w-auto h-12 px-4 border-4 rounded-none border-rug-light-blue">

		</div>
		<div class="flex flex-row items-center mb-4">
			<p class="flex items-center justify-center w-32 h-12 text-sm uppercase bg-rug-light-blue text-rug-dark-blue">
				<label for="from-last-name">Your Last Name</label>
			</p>
			<input id="from-last-name" type="text" name="sender[lastName]" value="" class="flex-grow w-auto h-12 px-4 border-4 rounded-none border-rug-light-blue">

		</div>

		<div class="flex flex-row items-center mb-4">
			<p class="flex items-center justify-center w-32 h-12 text-sm uppercase bg-rug-light-blue text-rug-dark-blue">
				<label for="from-email">Your E-Mail</label>
			</p>
			<input id="from-email" type="text" name="sender[email]" value="" class="flex-grow w-auto h-12 px-4 border-4 rounded-none border-rug-light-blue">

		</div>


		<div class="flex flex-row items-center mb-4">
			<p class="flex items-center justify-center w-32 h-12 text-sm uppercase bg-rug-light-blue text-rug-dark-blue">
				<label for="designer-first-name">Designer First Name</label>
			</p>
			<input id="designer-first-name" type="text" name="recipient[firstName]" value="" class="flex-grow w-auto h-12 px-4 border-4 rounded-none border-rug-light-blue">

		</div>
		<div class="flex flex-row items-center mb-4">
			<p class="flex items-center justify-center w-32 h-12 text-sm uppercase bg-rug-light-blue text-rug-dark-blue">
				<label for="designer-last-name">Designer Last Name</label>
			</p>
			<input id="designer-last-name" type="text" name="recipient[lastName]" value="" class="flex-grow w-auto h-12 px-4 border-4 rounded-none border-rug-light-blue">

		</div>

		<div class="flex flex-row items-center mb-4">
			<p class="flex items-center justify-center w-32 h-12 text-sm uppercase bg-rug-light-blue text-rug-dark-blue">
				<label for="designer-email">Designer E-Mail</label>
			</p>
			<input id="designer-email" type="text" name="recipient[email]" value="" class="flex-grow w-auto h-12 px-4 border-4 rounded-none border-rug-light-blue">

		</div>

		<div class="flex flex-col mb-4">
			<p class="flex items-center justify-center w-32 h-12 text-sm uppercase bg-rug-light-blue text-rug-dark-blue">
				<label class="text-center" for="message">Special Requests</label>
			</p>
			<textarea rows="4" cols="40" id="specialRequests" name="fields[specialRequests]" class="w-full p-4 border-4 rounded-none resize-none border-rug-light-blue"></textarea>

		</div>

		<input type="submit" value="Submit Request" class="self-center block w-64 px-6 py-2 text-xl text-center rounded-none bg-rug-light-blue hover:bg-rug-grey text-rug-dark-blue font-nexa-rust-sans">
	</form>
</section>
