<div class="flex flex-row items-center mb-4">
	{% set userToMail = userToMail ?? '' %}
	<p class="flex items-center justify-center w-32 h-12 text-sm uppercase bg-rug-light-blue text-rug-dark-blue">
		<label for="to-email">To E-Mail</label>
	</p>
	{% if sprig.isInclude %}
		<input id="to-email" sprig s-trigger="keyup changed" s-target="#toEmail" s-swap="outerHTML" type="text" name="userToEmail" value="{{ userToMail }}" class="flex-grow w-auto h-12 px-4 border-4 rounded-none border-rug-light-blue">
	{% endif %}
	<div id="toEmail">
	{% set userToMail = userToMail %}
		{{ userToMail }}
		<input type="hidden" name="toEmail" value="{{ userToMail }}">
	</div>
</div>
