<section id="blog-feed-section" class="flex flex-col flex-wrap w-full section-wrapper">
	<h1 class="p-4">Recent Posts</h1>
	<div id="" class="flex flex-row flex-wrap">
		{% set posts = craft.entries().section('blogPosts') %}
		{% for post in posts.all() %}
			{% include "_content/blog-post-block" %}
		{% endfor %}
	</div>
</section>
