<section id="events-feed-section" class="flex flex-col flex-wrap w-full section-wrapper">
{% set noEventsImage = entry.noEventsImage.one().optimizedImages %}
	<h1 class="p-4">Upcoming Events</h1>
	<div id="" class="flex flex-row flex-wrap">
		{% for post in craft.entries().section('eventPosts').all() if post.date|date('Y-m-d') >= now|date('Y-m-d') %}
			{% include "_content/event-post-block" %}
		{% else %}
			<article id="" class="flex flex-row flex-wrap self-center w-full mt-12 text-center border-2 text-rug-black border-rug-grey">
			<img src="{{ noEventsImage.src }}" alt="" data-srcset="{{ noEventsImage.srcset}}" class="object-cover w-full h-64 mb-4">
				<p>{{ entry.noEventsMessage|nl2br }}</p>
			</article>
		{% endfor %}
	</div>
</section>
