<section id="hero-section" class="w-full h-full bg-rug-dark-blue">
	<picture>
		<img src="" alt="" class="object-cover w-screen min-h-2/3-screen">
	</picture>
    <header class="absolute top-1/2 right-1/12">

    </header>
</section>
