<section id="hero-section" class="w-full bg-rug-white">
	{% set heroImage = entry.heroImage.one().optimizedImages %}
	{% set heroImageAltText = entry.heroImage.one().title %}
	<picture>
		<img src="{{ heroImage.src() }}" alt="{{ heroImageAltText }}" data-srcset="{{ heroImage.srcset() }}" class="object-cover w-screen max-h-2/3-screen {{ heroOpacity }}">
	</picture>
	{% if entry.heroIntro|length %}
		<header class="absolute top-1/2 right-1/12">bunch of intro shit here</header>
	{% endif %}
</section>
