<section id="inventory-feed" class="section-wrapper">
{% set inventoryQuery = craft.entries().section('inventory').all() %}
{% for rug in inventoryQuery %}
    {% include "_content/rug-block" %}
{% endfor %}
</section>