<section id="inventory-feed" class="">
{% set inventoryQuery = craft.entries().section('inventory') %}
{% set list = craft.wishlist.lists().default(true).one() %}
{% for entry in inventoryQuery.all() %}
{% set name = entry.productTitle %}
{% set thumbnail = entry.primaryImage.one().optimizedImages %}
    {% include "_content/rug-block" %}
{% endfor %}
</section>