<section id="inventory-feed" class="flex flex-row flex-wrap items-center justify-start w-full md:items-start">
{% set list = craft.wishlist.lists().default(true).one() %}
{% for entry in inventoryQuery.all() %}
{% set name = entry.productTitle %}
{% set thumbnail = entry.primaryImage.one().optimizedImages %}
    {% include "_content/rug-block" %}
{% endfor %}
</section>