<div id="wish-list" class="wishListContent">
	<i class="z-50 text-2xl cursor-pointer fas fa-times text-rug-dark-blue" @click="show = false"></i>
	{# Get the list #}
	{% set list = craft.wishlist.lists().default(true).one() %}
	{% if list|length %}
		{# Display list items #}
		<section class="flex flex-row flex-wrap w-full">
			{% for item in list.items.all() %}
				<p>{{ item.title }}</p>
			{% endfor %}
		</section>
	{% endif %}
</div>
