{% extends "_layout/base-layout" %}

{% block header %}
	{% include "_frame/header.twig" %}
{% endblock %}
{% block main %}
	<main class="flex flex-col items-center flex-grow w-full p-4 md:p-8">
		{% include "_pages/blog-feed-section.twig" %}
	</main>
{% endblock %}
{% block footer %}
	{% include "_frame/footer.twig" %}
	<script src="{{ siteUrl }}assets/js/mixitup.min.js"></script>
	<script src="{{ siteUrl }}assets/js/mixitup-pagination.min.js"></script>
	<script src="{{ siteUrl }}assets/js/mixitup-multifilter.min.js"></script>
{% endblock %}
