{% extends "_layout/base-layout" %}

{% block header %}
	{% include "_frame/header.twig" %}
{% endblock %}
{% block main %}
	<main class="flex flex-col items-center flex-grow w-full">
	{% include "_content/blog-post-header" %}
		{% include "_pages/generic-section" %}

	</main>
{% endblock %}
{% block footer %}
	{% include "_frame/footer.twig" %}
{% endblock %}
