{% extends "_layout/base-layout" %}

{% block header %}
	{% include "_frame/header.twig" %}
{% endblock %}
{% block main %}
	<main class="flex flex-col items-center flex-grow w-full p-4 md:p-8">
		{% set heroOpacity = "opacity-25" %}
		{% include "_pages/hero-section" %}
		{% include "_pages/blog-feed-section.twig" %}
	</main>
{% endblock %}
{% block footer %}
	{% include "_frame/footer.twig" %}
{% endblock %}
