{% extends "_layout/base-layout" %}

{% block header %}
{% set entry = craft.entries().section('home').one() %}
	{% include "_frame/header.twig" %}
{% endblock %}
{% block main %}
{% set entry = craft.entries().section('collections').one() %}
	<main class="flex flex-col items-center flex-grow w-full p-4 bg-rug-white md:p-8">
	{% include "_pages/collection-info-section" %}
	</main>
{% endblock %}
{% block footer %}
{% set entry = craft.entries().section('home').one() %}
	{% include "_frame/footer.twig" %}
{% endblock %}
