{% extends "_layout/base-layout" %}

{% block header %}
	{% include "_frame/header.twig" %}
{% endblock %}
{% block main %}
	<main class="flex flex-col items-center flex-grow w-full bg-rug-dark-blue">
		{% set heroOpacity = "opacity-25" %}
		{% include "_pages/home-hero-section" %}
		<div id="tracking-pixel" class="absolute bottom-0 left-0 opacity-0" style="width: 1px; height: 1px;"></div>
		<button onclick="topFunction()" id="contact-button" title="Get In Touch!">Get In Touch!
		</button>
		<div id="" class="sticky flex flex-row justify-end w-full top-6">
			<div id="button-wrapper" class="p-4 bg-rug-light-blue text-rug-dark-blue button font-bioRhyme">Get in Touch!</div>
			{% include "_pages/featured-collections-section" %}
		</div>
		{% set contactOpacity = "opacity-25" %}
		{% include "_pages/home-contact-section" %}
	</main>

{% endblock %}
{% block footer %}
	{% include "_frame/footer.twig" %}
{% endblock %}
