{% extends "_layout/base-layout" %}

{% block header %}
	{% include "_frame/header.twig" %}
{% endblock %}
{% block main %}
	<main class="flex flex-col items-center flex-grow w-full bg-rug-dark-blue">
	{% set heroOpacity = "opacity-25" %}
		{% include "_pages/hero-section" %}
	</main>
{% endblock %}
{% block footer %}
	{% include "_frame/footer.twig" %}
{% endblock %}
