{% extends "_layout/base-layout" %}

{% block header %}
	{% include "_frame/header.twig" %}
{% endblock %}
{% block main %}
	<main class="flex flex-col items-center flex-grow w-full bg-rug-dark-blue">
		{% set heroOpacity = "opacity-25" %}
		{% include "_pages/home-hero-section" %}
		<div id="" class="flex flex-col content-center w-full">
			<div id="button-wrapper" class="sticky self-end p-4 top-6 bg-rug-light-blue text-rug-dark-blue button font-bioRhyme">Get in Touch!</div>
			{% include "_pages/featured-collections-section" %}
		</div>
		{% set contactOpacity = "opacity-25" %}
		{% include "_pages/home-contact-section" %}
	</main>

{% endblock %}
{% block footer %}
	{% include "_frame/footer.twig" %}
{% endblock %}
