{% extends "_layout/base-layout" %}

{% block header %}
	{% include "_frame/header.twig" %}
{% endblock %}
{% block main %}
	<main class="flex flex-col items-center flex-grow w-full bg-rug-dark-blue">
		{% set heroOpacity = "opacity-25" %}
		{% include "_pages/home-hero-section" %}
		<div id="" class="flex flex-col items-center w-full max-w-7xl">
			{% include "_pages/featured-collections-section" %}
			<div id="button-wrapper" class="sticky z-50 self-end p-4 mb-6 mr-10 shadow-2xl bottom-6 bg-rug-light-blue text-rug-dark-blue font-bioRhyme">Get in Touch!</div>
		</div>
		{% set contactOpacity = "opacity-25" %}
		{% include "_pages/home-contact-section" %}
	</main>

{% endblock %}
{% block footer %}
	{% include "_frame/footer.twig" %}
{% endblock %}
