{% extends "_imperial/_layout/base-layout" %}

{% block header %}
	{% include "_imperial/_frame/header" %}
{% endblock %}
{% block main %}
	<main class="flex flex-col items-center w-full">
		{% include "_imperial/_pages/intro-section" %}
		{% include "_imperial/_pages/hours-section" %}
		{% include "_imperial/_pages/menus-section" %}
		{% include "_imperial/_pages/happenings-section" %}
		{% include "_imperial/_pages/about-section" %}
		{% include "_imperial/_pages/private-events-section" %}
		{% include "_imperial/_pages/contact-section" %}
		{# {% include "_imperial/_pages/merch-section" %} #}
	</main>
{% endblock %}
{% block footer %}
	{% include "_imperial/_frame/footer" %}
{% endblock %}
